html{
    border:10px solid darkblue;
}

body{
    background-color: rgb(0, 165, 165);
    border:100% solid darkblue;
}

.naz{
    font-family: BRUSH SCRIPT MT;
    font-size:50px;
}

.vibb:hover{
    background-color: greenyellow;
    border: 5px solid green;
    font-size:20px;
}

.naz{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
}

.vib{
    background-color: greenyellow;
    border: 5px solid green;
}

header{
    text-align: center;
}

header img{
    height: 100px;
    margin: 10px 0 10px 0 ;
}
header table{
    width: 100%;
}

header td{
    background-color:rgb(73, 113, 255);
    border: 5px solid rgb(70, 70, 255);   
}

a{
    text-decoration: none;
    color:black;
}

h1{
    text-align: center;
    font-size:50px;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(73, 113, 255);
    border: 10px solid rgb(70, 70, 255);
    color:white;
    margin-left:16%;
    margin-right:16%;
}

td:focus{
    rotate: 3000deg;
    transition:  5s;
}

.section-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border:10px solid rgb(56, 75, 251);
  background-color:rgb(126, 80, 24);
  color:white;
  font-family: 'Pacifico', cursive;
  text-align: justify;
}

.text-block-a {
  flex: 1;
  padding-right: 20px;
}

.image-block-a {
  flex: 1;
  text-align: right;
}

.image-block-a img {
  max-width: 100%;
  height: auto;
}
.section-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border:10px double rgb(101, 168, 0);
    background-color: greenyellow;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    text-align: justify;
}

.text-block-b {
  flex: 1;
  padding-right: 20px;
}

.image-block-b {
  flex: 1;
  text-align: right;
}

.image-block-b img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.section-c {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
    background-color:rgb(214, 0, 0);
    border:15px double black;
    color:rgb(221, 221, 0);
    font-family: fantasy;
    text-align: justify;
    
}

.text-block-c {
  flex: 1;
  padding-right: 20px;
}

.image-block-c {
  flex: 1;
  text-align: right;
 
}

.image-block-c img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}
